.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .name-container input,.name-container mat-label {
      color:white;
      
}

.name-container input {
    height: 32px;
}

