.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .name-container input,.name-container mat-label {
      color:rgb(239,236,247);
      
}

.name-container input {
    height: 40px;
}
.name-container {
    width: 100%;
}
.coloured-icon{
    color:rgb(239,236,247);
}

