.form-container{
    text-align: center;
    
}
.form-container h1{
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    color:rgb(239,236,247);
    padding-top:15px;
}

.form-container .row{
    margin: 0 100px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    
}
.form-container .row mat-form-field{
    width: 100%;
    
}
.lined{
    border: 1px white solid;
    height: 40px;
    width: 170px;
    background-color: transparent;
    border-radius: 5px;
    color:white;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;

}
