<div class="lista-container" style="text-align:center">
  
    <app-order [order]="{main:'Napoliatana',salads:['Arroz','Fideos','Lentejas']}"></app-order>
    <app-order [order]="{main:'Napoliatana',salads:['Arroz','Fideos','Lentejas']}"></app-order>
    <app-order [order]="{main:'Napoliatana',salads:['Arroz','Fideos','Lentejas']}"></app-order>
    <app-order [order]="{main:'Napoliatana',salads:['Arroz','Fideos','Lentejas']}"></app-order>
    <app-order [order]="{main:'Napoliatana',salads:['Arroz','Fideos','Lentejas']}"></app-order>
    <app-order [order]="{main:'Napoliatana',salads:['Arroz','Fideos','Lentejas']}"></app-order>
      
  </div>