<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div style="text-align:center">
  <mat-card>
    <div class="container">
        <div class="order">
            <span class="main-dish">
              Napolitana
            </span>
            <span class="salad">
              <span>Zanahoria Hervida</span> |
              <span>Coreanito</span> |
              <span>Brocoli</span>
            </span>
          </div>
      <div class="name">E</div>
      

    </div>
  </mat-card>
  <mat-card>
      <div class="container">
          <div class="order">
              <span class="main-dish">
                Napolitana
              </span>
              <span class="salad">
                <span>Zanahoria Hervida</span> |
                <span>Coreanito</span> |
                <span>Brocoli</span>
              </span>
            </div>
        <div class="name">E</div>
        
  
      </div>
    </mat-card>
    <mat-card>
        <div class="container">
            <div class="order">
                <span class="main-dish">
                  Napolitana
                </span>
                <span class="salad">
                  <span>Zanahoria Hervida</span> |
                  <span>Coreanito</span> |
                  <span>Brocoli</span>
                </span>
              </div>
          <div class="name">E</div>
          
    
        </div>
      </mat-card>
</div>
